# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import pandas as pd
import numpy as np

Next, import `Orders` from Ironhack's database into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders=pd.read_csv("Orders.csv")
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
amount_per_customer = orders.groupby("CustomerID").sum("amount_spent")
amount_per_customer = amount_per_customer.reset_index()
amount_per_customer

,CustomerID,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent
0,12346,61619,541431,2011,1,2,10,74215,1.04,77183.60
1,12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00
2,12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24
3,12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55
4,12350,1365627,9231629,34187,34,51,272,197,65.30,334.40
...,...,...,...,...,...,...,...,...,...,...
4334,18280,1110495,5457120,20110,30,10,90,45,47.65,180.60
4335,18281,1560699,3895248,14077,42,49,70,54,39.36,80.82
4336,18282,4642134,6838540,24132,116,60,146,103,62.39,178.05
4337,18283,233950830,425704048,1520316,5503,2489,10346,1397,1220.93,2094.88
4338,18287,21958901,39474556,140770,555,332,697,1586,104.55,1837.28

In [4]:
per_95 = np.percentile(orders["amount_spent"], 95)
per_75 = np.percentile(orders["amount_spent"], 75)

def customer_group(amount):
    if amount > per_95:
        return "VIP"
    elif amount > per_75:
        return "Preferred"
    else:
        return "Regular"

amount_per_customer["CustomerType"] = amount_per_customer["amount_spent"].apply(customer_group)
amount_per_customer.head(10)

,CustomerID,Unnamed: 0,InvoiceNo,year,month,day,hour,Quantity,UnitPrice,amount_spent,CustomerType
0,12346,61619,541431,2011,1,2,10,74215,1.04,77183.60,VIP
1,12347,42441700,101296926,365971,1383,441,2219,2458,481.21,4310.00,VIP
2,12348,2807120,16869685,62324,257,111,472,2341,178.71,1797.24,VIP
3,12349,35444274,42165457,146803,803,73,657,631,605.10,1757.55,VIP
4,12350,1365627,9231629,34187,34,51,272,197,65.30,334.40,VIP
5,12352,22083029,47523155,170935,552,243,1193,536,1354.11,2506.04,VIP
6,12353,789490,2215600,8044,20,16,68,20,24.30,89.00,VIP
7,12354,9645139,31952838,116638,232,232,754,530,261.22,1079.40,VIP
8,12355,2354898,7181837,26143,65,13,169,240,54.65,459.40,VIP
9,12356,6327889,32183405,118649,142,185,592,1591,188.87,2811.43,VIP

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [5]:
# your code here

In [27]:
selected_columns = ["CustomerID","CustomerType"]
new_orders= amount_per_customer[selected_columns]
new_country= orders[["CustomerID", "Country"]]
country_id_group=pd.merge(new_orders, new_country, on="CustomerID", how="inner")
country_id_group.duplicated().any() 
country_id_group= country_id_group.drop_duplicates()

In [30]:
country_group=country_id_group[["Country", "CustomerType"]]
country_group.value_counts()
#United Kingdom has the most VIPs

Country               CustomerType
United Kingdom        VIP             3856
Germany               VIP               93
France                VIP               87
United Kingdom        Preferred         55
Spain                 VIP               30
Belgium               VIP               25
Switzerland           VIP               21
Portugal              VIP               19
Italy                 VIP               14
Finland               VIP               12
Austria               VIP               11
United Kingdom        Regular           10
Norway                VIP               10
Netherlands           VIP                9
Australia             VIP                9
Denmark               VIP                9
Channel Islands       VIP                9
Cyprus                VIP                8
Sweden                VIP                8
Japan                 VIP                8
Poland                VIP                6
USA                   VIP                4
Unspecified           VIP                4
Greece                VIP                4
Israel                VIP                3
EIRE                  VIP                3
Canada                VIP                3
Bahrain               VIP                2
United Arab Emirates  VIP                2
Malta                 VIP                2
Iceland               VIP                1
Brazil                VIP                1
Canada                Preferred          1
Lithuania             VIP                1
Singapore             VIP                1
Saudi Arabia          VIP                1
RSA                   VIP                1
European Community    VIP                1
Czech Republic        VIP                1
Lebanon               VIP                1
Germany               Preferred          1
dtype: int64

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [7]:
# your code here

In [34]:
combined_groups = country_group[country_group['CustomerType'].isin(['VIP', 'Preferred'])]

pivot_table = pd.pivot_table(combined_groups, values='CustomerType', index='Country', aggfunc='count')

pivot_table.sort_values(by="CustomerType", ascending=False)
#The United Kingdom has the most VIP+Preferred Customers combined

                      CustomerType
Country
United Kingdom                3911
Germany                         94
France                          87
Spain                           30
Belgium                         25
Switzerland                     21
Portugal                        19
Italy                           14
Finland                         12
Austria                         11
Norway                          10
Netherlands                      9
Australia                        9
Denmark                          9
Channel Islands                  9
Cyprus                           8
Sweden                           8
Japan                            8
Poland                           6
USA                              4
Canada                           4
Unspecified                      4
Greece                           4
EIRE                             3
Israel                           3
Malta                            2
United Arab Emirates             2
Bahrain                          2
Czech Republic                   1
Lithuania                        1
Lebanon                          1
RSA                              1
Saudi Arabia                     1
Singapore                        1
Iceland                          1
Brazil                           1
European Community               1